In [2]:
import pandas as pd 
import numpy as np

In [33]:
df = pd.read_csv('./data/03_Activity/S01_Activity.csv')

In [161]:
#check number of occurenece of 1
sumone = df.sum(axis=1)
sumone.max()
sumone.min()

1

In [34]:
#get the column name where equals True
df = df.apply(lambda row: row[row == 1].index[0], axis=1)
df = df.to_frame(name='activity')

In [ ]:
# drop n-occurence
df.where(df['activity'].shift(periods=1) != df['activity']).dropna()

               activity
0              Standing
324     Synchronization
407            Standing
649     Synchronization
713            Standing
...                 ...
217908         Standing
217961  Synchronization
218028         Standing
218039  Synchronization
218095         Standing

[1710 rows x 1 columns]

### Location

In [27]:
df = pd.read_csv('./data/02_Location/S01_Location.csv')

In [28]:
df = df.apply(lambda row: ', '.join(row[row == 1].index)  , axis=1)

In [32]:
df2 = df

In [35]:
df3 = pd.concat([df, df2])

In [45]:
df3['test'] = df3.activity == 'Office'

In [46]:
df3

        activity       0   test
0       Standing     NaN  False
1       Standing     NaN  False
2       Standing     NaN  False
3       Standing     NaN  False
4       Standing     NaN  False
...          ...     ...    ...
218138       NaN  Office  False
218139       NaN  Office  False
218140       NaN  Office  False
218141       NaN  Office  False
218142       NaN  Office  False

[436286 rows x 3 columns]

In [48]:
df['activity'].unique()

array(['Standing', 'Synchronization', 'Handling centred', 'Walking',
       'Pull', 'Push', 'Handling upwards', 'Scan', 'Tick off / confirm',
       'ANOTHER ACTIVITY', 'Handling downwards', 'ACTIVITY UNKNOWN'],
      dtype=object)