In [1]:
import pandas as pd 
import numpy as np

In [9]:
df = pd.read_csv('./data/03_Activity/S09_Activity.csv')

In [10]:
#check number of occurenece of 1
sumone = df.sum(axis=1)
sumone.max()
sumone.min()

1

In [11]:
#get the column name where equals True
df = df.apply(lambda row: row[row == 1].index[0], axis=1)
df = df.to_frame(name='activity')

In [12]:
# drop n-occurence
df = df.where(df['activity'].shift(periods=1) != df['activity']).dropna()

In [13]:
df.to_csv('tmp.csv')

### Location

In [27]:
df = pd.read_csv('./data/02_Location/S01_Location.csv')

In [28]:
df = df.apply(lambda row: ', '.join(row[row == 1].index)  , axis=1)

In [32]:
df2 = df

In [35]:
df3 = pd.concat([df, df2])

In [45]:
df3['test'] = df3.activity == 'Office'

In [46]:
df3

        activity       0   test
0       Standing     NaN  False
1       Standing     NaN  False
2       Standing     NaN  False
3       Standing     NaN  False
4       Standing     NaN  False
...          ...     ...    ...
218138       NaN  Office  False
218139       NaN  Office  False
218140       NaN  Office  False
218141       NaN  Office  False
218142       NaN  Office  False

[436286 rows x 3 columns]

In [48]:
df['activity'].unique()

array(['Standing', 'Synchronization', 'Handling centred', 'Walking',
       'Pull', 'Push', 'Handling upwards', 'Scan', 'Tick off / confirm',
       'ANOTHER ACTIVITY', 'Handling downwards', 'ACTIVITY UNKNOWN'],
      dtype=object)

## Combination of (Activity, Location)

In [8]:
import pandas as pd
import numpy as np
df = pd.read_csv('data_preprocessed/S01.csv')

count_df = (
        df
        .groupby(["High-Level Process", "Main Area", "Activity"])
        .size()
        .reset_index(name="count")
        .sort_values(by=["High-Level Process", "count"], ascending=[True, False])
    )

In [9]:
count_df.to_csv('./S01_count.csv', index=False)

In [10]:
count_location_df = (
        df
        .groupby(["High-Level Process", "Activity"])
        .size()
        .reset_index(name="count")
        .sort_values(by=["High-Level Process", "count"], ascending=[True, False])
    )
count_location_df

   High-Level Process            Activity  count
0           Retrieval    Handling centred  50105
8           Retrieval             Walking  21076
6           Retrieval            Standing  17651
5           Retrieval                Scan  11126
2           Retrieval    Handling upwards  10513
1           Retrieval  Handling downwards  10395
4           Retrieval                Push   7766
7           Retrieval  Tick off / confirm   5336
3           Retrieval                Pull   2704
9             Storage    Handling centred  26835
15            Storage             Walking   6731
11            Storage    Handling upwards   5186
13            Storage                Push   4356
14            Storage            Standing   4058
10            Storage  Handling downwards   3141
12            Storage                Pull   1401

## Evaluation

In [12]:
df = pd.read_csv('./S01.csv')
df['True Predicted'] = df['High-Level Process'] == df['High-Level Process (Predicted)']
result = df['True Predicted'].value_counts()

In [17]:
result[0] / (result[0] + result[1]) * 100

/var/folders/_2/jn0cy18d3_gctbtkn5k7zs0r0000gn/T/ipykernel_22042/1002872231.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  result[0] / (result[0] + result[1]) * 100

94.08748274763775