In [2]:
import pandas as pd 
import numpy as np

In [160]:
df = pd.read_csv('./data/03_Activity/S01_Activity.csv')

In [161]:
#check number of occurenece of 1
sumone = df.sum(axis=1)
sumone.max()
sumone.min()

1

In [162]:
#get the column name where equals True
df = df.apply(lambda row: row[row == 1].index[0], axis=1)
df = df.to_frame(name='activity')

In [ ]:
# drop n-occurence
df.where(df['activity'].shift(periods=1) != df['activity']).dropna()

               activity
0              Standing
324     Synchronization
407            Standing
649     Synchronization
713            Standing
...                 ...
217908         Standing
217961  Synchronization
218028         Standing
218039  Synchronization
218095         Standing

[1710 rows x 1 columns]